* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #424241;
  font-family: "Playfair Display";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
}

h4 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

p {
  color: #424241;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero {
  display: flex;
  width: 100%;
  background-image: url("/img/edificio.svg");
  background-repeat: no-repeat;
  background-position: 40% 0%;
  gap: 325px;
}
.hero__principal {
  display: flex;
  flex-direction: column;
  gap: 232px;
  width: 50%;
}
.hero__principal-info {
  display: flex;
  flex-direction: column;
}
.hero__principal-info h1 {
  width: 800px;
  margin-bottom: 32px;
}
.hero__principal-info p {
  opacity: 0.5px;
  width: 600px;
  margin-bottom: 56px;
}
.hero__principal-info-buttons {
  display: flex;
  gap: 56px;
}
.hero__principal-info-buttons-started {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  background: #424241;
  color: #FAF8F5;
}
.hero__principal-info-buttons-learnMore {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  background: transparent;
  border: none;
}
.hero__principal-data {
  display: flex;
  gap: 96px;
}
.hero__principal-data-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.hero__principal-data-item p {
  color: #424241;
  /* Text Medium 1 */
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px; /* 150% */
}
.hero__principal-data-item span {
  color: #9E9D9B;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
.hero__service {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero__service-image {
  width: 480px;
  height: 640px;
}
.hero__service-info {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;
  background-color: #FAF8F5;
  position: absolute;
  bottom: 100px;
}
.hero__service-info-items {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 24px;
  column-gap: 20px;
  align-items: center;
}
.hero__service-info-items span {
  color: #9E9D9B;
  /* Text 2 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.hero__service-info-items h5 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #424241;
}

.header {
  display: flex;
  gap: 300px;
  align-items: center;
  margin-bottom: 135px;
  position: relative;
  z-index: 1;
}
.header ul {
  display: flex;
  gap: 56px;
}
.header ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header ul li a {
  text-decoration: none;
  color: #424241;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  opacity: 0.5;
}

body {
  margin-left: 160px;
  padding-top: 50px;
  background: linear-gradient(to right, #ffffff 50%, #e8e5e3 50%);
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
