@use "../abstracts/variables" as v;

.hero{
    display:flex;
    width:100%;
    background-image: url('/img/edificio.svg');
    background-repeat: no-repeat;
    background-position: 40% 0%;
    gap:325px;
    &__principal{
        display:flex;
        flex-direction: column;
        gap:232px;
        width:50%;
        &-info{
            display:flex;
            flex-direction: column;  
            h1{
                width: 800px;
                margin-bottom: 32px;
            }          
            p{
                opacity: 0.5px;
                width: 600px;
                margin-bottom: 56px;
            }
            &-buttons{
                display:flex;
                gap: 56px;
                &-started{
                    display:flex;
                    align-items: center;
                    padding: 16px;
                    gap:8px;
                    background: v.$primary-color;
                    color: v.$secondary-color
                }
                &-learnMore{
                    display:flex;
                    align-items: center;
                    padding: 16px;
                    gap:8px;
                    background: transparent;
                    border:none;
                }
            }
        }
        &-data{
            display:flex;
            gap:96px;
            &-item{
                display:flex;
                flex-direction: column;
                align-items: center;
                gap:8px;
                p{
                    color: v.$primary-color;
                    /* Text Medium 1 */
                    font-family: Poppins;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 96px; /* 150% */
                }
                span{
                    color:  #9E9D9B;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px; /* 177.778% */
                }
            }
        }
    }
    &__service{
        display:flex;
        flex-direction: column;
        align-items:center;
        position:relative;
        &-image{
            width: 480px;
            height: 640px;
        }
        &-info{
            display:flex;
            flex-direction: column;
            padding:32px;
            gap:24px;
            background-color: v.$secondary-color;
            position: absolute;
            bottom: 100px;            
            &-items{
                display: grid;
                grid-template-columns: auto auto auto;
                row-gap: 24px;
                column-gap:20px;
                align-items: center;
                span{
                    color: #9E9D9B;
                    /* Text 2 */
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
                h5{
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: v.$primary-color;
                }
            }
        }
    }
}

